<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../index.css">
  <title>Experties</title>
</head>
<div class="container-fluid">
  <header class="header experties-header">
    <div class="header-logo">
      <img src="../img/header-logo.png" alt="header logo" class="header-logo main-logo">
    </div>
    <div class="nav nav-iteams">
      <ul class="nav-items item-list">
        <li class="item-list iteams">Home</li>
        <li class="item-list iteams">About</li>
        <li class="item-list iteams">Experties</li>
        <li class="item-list iteams">Portfolio</li>
        <li class="item-list iteams">insight</li>
        <li class="item-list iteams">contact</li>
      </ul>
    </div>
    <div class="nav nav-logo">
      <img src="../img/magnifying-glass.png" alt="search logo" class="nav-logo logo-search">
      <img src="../img/menu.png" alt="menu logo" class="nav-logo menu-logo">
    </div>

    <div class="header-page-name page-name-LDN">
      <h3 class="page-name-title LDN-title ">Our Experties</h3>
    </div>

  </header>


  <div class=" about-detail LDN-about-detail">
    <h2 class=" information-title LDN-information-title">
      we are city makers
    </h2>
    <hr class="information-hr LDN-hr">
    <p class="about-information LDN-information">
      Welcome to London Collective, a virtual network of built environment experts and creatives fighting hard to
      improve
      people's lives and the planet's prospects.Welcome to London Collective, a virtual network of built
      environment
      experts and creatives fighting hard to improve people's lives and the planet's prospect.
    </p>
  </div>

  <div class="other-compny">

    <h3 class=" other-compny-title">LDN <span class=" other-compny-subtitle">family</span></h3>


    <div class="both-section">
      <div class="section-right">
        <div class="item item-environmental">
          <h3 class="item-title">environmental impact</h3>
          <p class="item-sub-title">
            <b>mark elton</b>aftermap
          </p>
        </div>
      </div>


      <div class="section-left">
        
        <div class="item item-environmental">
          <h3 class="item-title">environmental impact</h3>
          <p class="item-sub-title">
            <b>mark elton</b> aftermap
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">social impact</h3>
          <p class="item-sub-title">
            <b>shira de bourne parme</b> forgrounds
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">cost control</h3>
          <p class="item-sub-title">
            <b>simon birchall</b> equals consulting
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">planning and placemaking</h3>
          <p class="item-sub-title">
            <b>robyan prince</b> boyer <b>ED watson</b> & associates
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">transport planning</h3>
          <p class="item-sub-title">
            <b>annabel keegam</b> phil jones associates
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">mordern methods of constuction</h3>
          <p class="item-sub-title">
            <b>paul lnch</b>BD solutions
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">cultural placemaking</h3>
          <p class="item-sub-title">
            <b>sherry dobbin</b> futurecity <b>danny kair</b> enki music
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">conmmunity engagement</h3>
          <p class="item-sub-title">
            <b>mike saunders</b> commonplace
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">zero carbon</h3>
          <p class="item-sub-title">
            <b>simon sturgis</b> targeting zero
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">branding and semiotics</h3>
          <p class="item-sub-title">
            <b>luck farrell</b> far beyong <b>chris arning</b> creative semiotics
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">communications</h3>
          <p class="item-sub-title">
            <b>rosie cade</b> jamie hadley <b>tanisha raffuiddin</b> concept culture
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">smart+sustainable buildings</h3>
          <p class="item-sub-title">
            <b>neil macdonald</b>ambx <b>phillipa grant</b> AESG
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">engineering</h3>
          <p class="item-sub-title">
            <b>shane healy</b>cs consulting
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">landscape desing</h3>
          <p class="item-sub-title">
            <b>smantha paul</b>spacehub
          </p>
        </div>
        
        <div class="item item-environmental">
          <h3 class="item-title">film-making + graphic desing</h3>
          <p class="item-sub-title">
            <b> rob vincent</b> popla media <b> andy spicer</b> crafty fish
          </p>
        </div>
        
      </div>
    </div>

  </div>

</div>

</div>
</body>

</html>