<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../index.css">


  <title>page-1</title>
</head>

<body>
  <div class="container-flude">
    <header class="header">
      <div class="header-logo">
        <img src="../img/header-logo.png" alt="header logo" class="header-logo main-logo">
      </div>
      <div class="nav nav-iteams">
        <ul class="nav-items item-list">
          <li class="item-list iteams">Home</li>
          <li class="item-list iteams">About</li>
          <li class="item-list iteams">Experties</li>
          <li class="item-list iteams">Portfolio</li>
          <li class="item-list iteams">insight</li>
          <li class="item-list iteams">contact</li>
        </ul>
      </div>
      <div class="nav nav-logo">
        <img src="../img/magnifying-glass.png" alt="search logo" class="nav-logo logo-search">
        <img src="../img/menu.png" alt="menu logo" class="nav-logo menu-logo">
      </div>
    </header>

    <section class="media-section">
      <div class=" social-media">
        <img src="../img/twitter.png" alt="twitter image" class="media twitter">
        <img src="../img/linkedin.png" alt="linkedin image" class="media linkedin">
        <img src="../img/instagram.png" alt="instagram image" class="media instagram">
      </div>
    </section>

    <section class="about-compny">
      <div class=" about-detail">
        <h2 class=" information-title">
          we are city makers
        </h2>
        <hr class="information-hr">
        <p class="about-information">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, nisi! Reiciendis tenetur aliquam eligendi
          distinctio nihil, recusandae quisquam! Rem nostrum fuga hic quibusdam ducimus alias mollitia fugit dolore
          beatae unde quae nesciunt delectus sapiente nihil illum debitis pariatur, animi provident expedita? Iste nulla
          ipsa molestiae labore accusantium at tempora blanditiis repellat quia, cupiditate dignissimos in ad officiis
          sequi adipisci recusandae.
        </p>
      </div>

      <div class="about-logo">
        <img src="../img/header-logo.png" alt="compny-logo" class="compny-logo">
      </div>
    </section>

    <div class="vision">

      <section class="vision-section">

        <h2 class="vision-main-title">
          creating <span class="title tital-a">a</span> <span class="title title-Vision">vision</span> togather
        </h2>

        <p class="vision-information">
          At London Collective we work collaboratively with our clients to make their vison a reality .We belive in
          visionary
          thinking to enable quality placemaking ,'deep listning' to achieve social impact ,whole life carbon stategies
          for
          positive environmental impact and morden methods of consruction to deliver quality outcomes.
        </p>

        <button class="vision-btn">
          About us
        </button>

      </section>
    </div>

    <section class="specification-section">
      <div class="specification-list">

        <div class=" specification-iteam specification-one">
          <div class="specification-detail">
            <h3 class="specification-name">
              Decisive
            </h3>
            <h4 class="about-specification">
              our team comprisis senior decison-makers.
            </h4>
          </div>
        </div>

        <div class=" specification-iteam specification-two">
          <div class="specification-detail">
            <h3 class="specification-name">
              Dynamic
            </h3>
            <h4 class="about-specification">
              hand-picked teams convening and disbanding.
            </h4>
          </div>
        </div>

        <div class=" specification-iteam specification-three">
          <div class="specification-detail">
            <h3 class="specification-name">
              collaborative
            </h3>
            <h4 class="about-specification">
              our team comprisis senior decison-makers.
            </h4>
          </div>
        </div>

        <div class=" specification-iteam specification-four">
          <div class="specification-detail">
            <h3 class="specification-name">
              beyond profit
            </h3>
            <h4 class="about-specification">
              our team comprisis senior decison-makers.
            </h4>
          </div>
        </div>
      </div>

      <div class="other-vision">
        <div class="about-vision  vision-one">
          <div class="specific-vision">
            <h3 class="specific-vision-title title-one">we are
              <h4 class="specific-vision-subTitle">change accelerator</h4>
            </h3>
          </div>
        </div>

        <div class="about-vision vision-two">
          <div class="specific-vision ">
            <h3 class="specific-vision-title title-two">we are
              <h4 class="specific-vision-subTitle">comunity creators</h4>
            </h3>
          </div>
        </div>

        <div class="about-vision vision-three">
          <div class="specific-vision">
            <h3 class="specific-vision-title title-three">we are
              <h4 class="specific-vision-subTitle">carbon mitigators</h4>
            </h3>
          </div>
        </div>

        <div class="about-vision vision-four">
          <div class="specific-vision">
            <h3 class="specific-vision-title title-four">we are
              <h4 class="specific-vision-subTitle">change accelerator</h4>
            </h3>
          </div>
        </div>

        <div class="about-vision vision-five">
          <div class="specific-vision">
            <h3 class="specific-vision-title title-five">
              <h3 class="specific-vision-title title-five">we are
                <h4 class="specific-vision-subTitle">seasoned campainers</h4>
              </h3>
          </div>
        </div>

        <div class="about-vision vision-six">
          <div class="specific-vision">
            <h3 class="specific-vision-title title-six">we are
              <h4 class="specific-vision-subTitle">culture curators</h4>
            </h3>
          </div>
        </div>

        <div class="other-detail first-detail">
          <div class="main-title">
            <h3 class="detail-title">building<span class="detail-title subtitle-a"> the</span><span
                class="detail-title subtitle-b">
                brif</span>
            </h3>
          </div>

        </div>

        <div class="other-detail second-detail">
          <div class="main-title">
            <h3 class="detail-title">de-risking<span class="detail-title subtitle-a"> the</span><span
                class="detail-title subtitle-b">
               project</span>
            </h3>
          </div>
        
        </div>

      </div>
    </section>

  </div>
</body>

</html>