<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LND Collective</title>
  <link rel="stylesheet" href="../index.css">
</head>

<body>
  <div class="container-fluid">
    <header class="header">
      <div class="header-logo">
        <img src="../img/header-logo.png" alt="header logo" class="header-logo main-logo">
      </div>
      <div class="nav nav-iteams">
        <ul class="nav-items item-list">
          <li class="item-list iteams">Home</li>
          <li class="item-list iteams">About</li>
          <li class="item-list iteams">Experties</li>
          <li class="item-list iteams">Portfolio</li>
          <li class="item-list iteams">insight</li>
          <li class="item-list iteams">contact</li>
        </ul>
      </div>
      <div class="nav nav-logo">
        <img src="../img/magnifying-glass.png" alt="search logo" class="nav-logo logo-search">
        <img src="../img/menu.png" alt="menu logo" class="nav-logo menu-logo">
      </div>
    </header>

    <section class="media-section">
      <div class=" social-media">
        <img src="../img/twitter.png" alt="twitter image" class="media twitter">
        <img src="../img/linkedin.png" alt="linkedin image" class="media linkedin">
        <img src="../img/instagram.png" alt="instagram image" class="media instagram">
      </div>
    </section>

    <section class="about-compny">
      <div class=" about-detail">
        <h2 class=" information-title">
          we are city makers
        </h2>
        <hr class="information-hr">
        <p class="about-information">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, nisi! Reiciendis tenetur aliquam eligendi
          distinctio nihil, recusandae quisquam! Rem nostrum fuga hic quibusdam ducimus alias mollitia fugit dolore
          beatae unde quae nesciunt delectus sapiente nihil illum debitis pariatur, animi provident expedita? Iste nulla
          ipsa molestiae labore accusantium at tempora blanditiis repellat quia, cupiditate dignissimos in ad officiis
          sequi adipisci recusandae.
        </p>
      </div>

      <div class="about-logo">
        <img src="../img/header-logo.png" alt="compny-logo" class="compny-logo">
      </div>
    </section>

    <div class="vision">
      <section class="vision-section">
        <h2 class="vision-main-title">
          creating <span class="title tital-a">a</span> <span class="title title-Vision">vision</span> togather
        </h2>
        <p class="vision-information">
          At London Collective we work collaboratively with our clients to make their vison a reality .We belive in
          visionary
          thinking to enable quality placemaking ,'deep listning' to achieve social impact ,whole life carbon stategies
          for
          positive environmental impact and morden methods of consruction to deliver quality outcomes.
        </p>
        <button class="vision-btn">
          About us
        </button>
      </section>
    </div>
    <div class="functionality">
      <div class="first-function">
        <h3 class="first-title">desisive</h3>
        <h4 class="subTitle-one">our team comprisis senior desison-makers</h4>
        <div class="function-dots">
          <div class="dot dot-one"></div>
          <div class="dot dot-two"></div>
          <div class="dot dot-three"></div>
          <div class="dot dot-four"></div>
        </div>
      </div>
      <div class="second-function">
        <h3 class="second-title">we are</h3>
        <h4 class="second-subTtile">change accelerator</h4>
        <div class="function-dots">
          <div class="dot dot-one"></div>
          <div class="dot dot-two"></div>
          <div class="dot dot-three"></div>
          <div class="dot dot-four"></div>
        </div>
      </div>
    </div>
    <div class="menu-item">
      <div class="function one-function">
        <div class="function-item">
          <h3 class="function-title">Experties</h3>
          <hr class="function-hr first-hr">
          <p class="function-subTitle first-subTitle">Welcome to London Collective, a virtual network of built
            environment experts and
            creatives
            fighting hard to improve
            people's lives and the planet's prospects.<br>Welcome to London Collective, a virtual network of built
            environment
            experts and creatives.
          </p>
        </div>
        <button class="function-btn">
          see more
        </button>
      </div>

      <div class="function two-function">
        <div class="function-item">
          <h3 class="function-title">insights</h3>
          <hr class="function-hr second-hr">
          <p class=" function-subTitle  second-subTitle">Welcome to London Collective, a virtual network of built
            environment experts and
            creatives
            fighting hard to improve
            people's lives and the planet's prospects.<br>Welcome to London Collective, a virtual network of built
            environment
            experts and creatives.
          </p>
        </div>
        <button class="function-btn">
          see more
        </button>
      </div>

      <div class="function three-function">
        <div class="function-item">
          <h3 class="function-title">Case Studies</h3>
          <hr class="function-hr third-hr">
          <p class="function-subTitle third-subTitle">Welcome to London Collective, a virtual network of built
            environment experts and
            creatives
            fighting hard to improve
            people's lives and the planet's prospects.<br>Welcome to London Collective, a virtual network of built
            environment
            experts and creatives.
          </p>
        </div>
        <button class="function-btn">
          see more
        </button>
      </div>

      <div class="other-clients">

        <p class="clients-detail">
          Welcome to London Collective, a virtual network of built environment experts and creatives fighting hard to
          improve
          people's lives and the planet's prospects.<br>Welcome to London Collective, a virtual network of built
          environment
          experts and creatives.
        </p>

        <div class="clients-logo">
          <img src="../img/client-one.png" alt="brand-logo" class="brand-logo brand-logo_one">
          <img src="../img/client-two.png" alt="brand-logo" class="brand-logo brand-logo_one">
          <img src="../img/client-three.png" alt="brand-logo" class="brand-logo brand-logo_one">
          <img src="../img/client-four.png" alt="brand-logo" class="brand-logo brand-logo_one">
          <img src="../img/client-five.png" alt="brand-logo" class="brand-logo brand-logo_one">
        </div>
        <button class="clients-btn">
          see all our clients
        </button>
      </div>
      <div class="collective-section">
        <h3 class="collective-title">meet<span class="collective-title collective-title-a"> your</span><span
            class="collective-title collective-title-b">
            collective</span>
        </h3>
        <div class="collective-btn">
          <button class="coll-btn">
            our all collectives
          </button>
        </div>
      </div>
    </div>
</body>

</html>