<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../index.css">
  <title>ABOUT LND</title>
</head>

<body>
  <div class="container-fluid">
    <header class="header LDN-header">
      <div class="header-logo">
        <img src="../img/header-logo.png" alt="header logo" class="header-logo main-logo">
      </div>
      <div class="nav nav-iteams">
        <ul class="nav-items item-list">
          <li class="item-list iteams">Home</li>
          <li class="item-list iteams">About</li>
          <li class="item-list iteams">Experties</li>
          <li class="item-list iteams">Portfolio</li>
          <li class="item-list iteams">insight</li>
          <li class="item-list iteams">contact</li>
        </ul>
      </div>
      <div class="nav nav-logo">
        <img src="../img/magnifying-glass.png" alt="search logo" class="nav-logo logo-search">
        <img src="../img/menu.png" alt="menu logo" class="nav-logo menu-logo">
      </div>

      <div class="header-page-name page-name-LDN">
        <h3 class="page-name-title LDN-title ">About LDN</h3>
      </div>

    </header>


    <div class=" about-detail LDN-about-detail">
      <h2 class=" information-title LDN-information-title">
        we are city makers
      </h2>
      <hr class="information-hr LDN-hr">
      <p class="about-information LDN-information">
        Welcome to London Collective, a virtual network of built environment experts and creatives fighting hard to
        improve
        people's lives and the planet's prospects.Welcome to London Collective, a virtual network of built
        environment
        experts and creatives fighting hard to improve people's lives and the planet's prospect.
      </p>
    </div>

    <div class="clients-logo LDN-clients-logo">

      <h2 class="vision-main-title LDN-main-title">
        Unlock <span class="title tital-a">the</span> <span class="title title-Vision">Power</span> Togather
      </h2>


      <img src="../img/client-one.png" alt="brand-logo" class="brand-logo brand-logo_one">
      <img src="../img/client-two.png" alt="brand-logo" class="brand-logo brand-logo_one">
      <img src="../img/client-three.png" alt="brand-logo" class="brand-logo brand-logo_one">
      <img src="../img/client-four.png" alt="brand-logo" class="brand-logo brand-logo_one">
      <img src="../img/client-five.png" alt="brand-logo" class="brand-logo brand-logo_one">
    </div>

    <div class="vision">
      <section class="vision-section">
        <h2 class="vision-main-title">
          creating <span class="title tital-a">a</span> <span class="title title-Vision">vision</span> togather
        </h2>
        <p class="vision-information">
          At London Collective we work collaboratively with our clients to make their vison a reality .We belive in
          visionary
          thinking to enable quality placemaking ,'deep listning' to achieve social impact ,whole life carbon stategies
          for
          positive environmental impact and morden methods of consruction to deliver quality outcomes.
        </p>
        <button class="vision-btn">
          About us
        </button>

      </section>
    </div>

  </div>
</body>

</html>